.quad_item_btn {
	position: absolute;
	cursor: pointer;
	/* -webkit-transform: translateX(10px); */
}
.quad_main_btn {
	position: absolute;
	cursor: pointer;
}

$keyframes myMove {
	from {left: 840px;}
	to {left: 940px;}
}